/** form-signupクラスの装飾内容 **/
.form-signup {
	/** 横幅は親要素の横幅と同じ **/
	width:100%;
	/** 最大横幅は330px **/
	max-width:330px;
	/** 内側の余白は15px **/
	padding:15px;
	/** 親要素に対して上下左右の４方向から見て中心に指定 **/
	margin:auto;
}