<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">
	<head>
		<title>ユーザー一覧</title>
		<!-- 個別CSS読み込み -->
		<link rel="stylesheet" th:href="@{/css/user/list.css}">
	</head>
	<body>
		<!-- layout:fragmentでキーを指定し、replaceで設定したHTMLを埋め込む -->
		<div layout:fragment="content">
			<!-- class headerはヘッダーとして識別される -->
			<!-- class border-bottomは指定された要素のborderのbottomに対して、線を引く -->
			<div class="header border-bottom">
				<h1 class="h2">ユーザー一覧画面</h1>
			</div>
			<!-- 一覧表示 -->
			<div>
				<!-- class table-stripedは１行飛ばしで背景を薄い水色にする。 -->
				<!-- class table-borderedはテーブルの各セルと外枠に境界線が追加される -->
				<!-- class table-hoverはマウスカーソルが行に重なった時に背景色を変化させる -->
				<table class="table table-striped table-bordered table-hover">
					<!-- class thead-lightは明るいグレーの背景色にする -->
					<thead class="thead-light">
						<tr>
							<th class="th-width">ユーザーID</th>
							<th class="th-width">ユーザー名</th>
							<th class="th-width">誕生日</th>
							<th class="th-width">年齢</th>
							<th class="th-width">性別</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item: ${userList}">
							<td th:text="${item.userId}"></td>
							<td th:text="${item.userName}"></td>
							<td th:text="${#dates.format(item.birthday,'YYYY/MM/dd')}"></td>
							<td th:text="${item.age}"></td>
							<td th:text="${item.gender == 1}?'男性':'女性'"></td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>